.block {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background: url("../img/blocks.png") repeat scroll -0px 0 transparent;
	height: 8px;
	width: 8px;
}

.block.blue {
	background-position: -8px 0;
}
.block.red {
	background-position: -16px 0;
}
.block.green {
	background-position: -24px 0;
}
.block.purple {
	background-position: -32px 0;
}
.block.yellow {
	background-position: -40px 0;
}
.block.orange {
	background-position: -48px 0;
}
.block.lightblue {
	background-position: -56px 0;
}
.block.grey {
	background-position: -64px 0;
}